::selection{
    background-color: var(--main-color);
    color: var(--background-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    scroll-behavior: smooth;
    cursor:
        url("../img/cursors/cursor2.svg") 13 13,
        cell;
}
body{
    font-family: var(--sans);
    text-decoration-thickness: from-font;
    color: var(--text-color);
    overflow-x: hidden;
}

/* text utilities */
a{
    text-decoration-thickness: from-font;
}
.text-em{
    font-style: italic;
}
.text-color{
    color: var(--main-color);
}
.text-highlight{
    background-color: var(--main-color);
    color: var(--background-color);
}
.text-light{
    font-weight:400;
}
.text-bold{
    font-weight: 800;
}
.hide-show{
    display: none;
}
a:hover{
    font-style:italic;
    letter-spacing: 0.01em;
    cursor:
        url("../img/cursors/arrow-right2.svg") 12 5,
        pointer;
}
#nav-name:hover{
    cursor:
        url("../img/cursors/home.svg") 12 15,
        pointer;
}
.text-hover{
    font-style: italic;
}
.background-dark{
    background-color: var(--background-color);
}
.background-light{
    background-color: var(--background-light);
}
.text-light{
    color: var(--text-color);
}
.text-dark{
    color: var(--dark-text);
}
.serifs{
    font-family: var(--sans);
    font-weight: 400;
}