
#about-banner{
	/* padding-top: 4.25rem; */
	border-bottom: var(--border);
	padding-bottom: 5%;
}

#about-banner-content{
	padding-left: 0;
	padding-right: 5vw;
	padding-top: 8.5vw;
}
.about-header{
    flex-basis: 36%;
}
.about-content{
    flex-basis: 64%;
}

.about-content-text{
	padding-left: 5%;
} 

.about-title{
	padding-left: 5%;
	padding-top: 15%
}

/* .about-subtitle{
    font-size: 2rem;
    font-weight: 500;
    padding-left: 5vw;
    font-family: var(--serifs);
    color: var(--main-color);
	font-style: italic;
} */

.about-subtitle{
    font-family: var(--sans);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    /* color: var(--main-color); */
    color: var(--main-color);
    /* background-color: var(--main-color); */
    /* margin-bottom: 1.5rem; */
    /* padding: 0.15rem 0; */
}

#about-container-adjust{
	padding: 2rem 0;
}

.about-display-list{
    display: flex;
    flex-flow: column nowrap;
}

.about-display-container{
    margin-right: 5vw;
    padding-bottom: 1rem;
    /* padding-left: 1rem; */
}

.border-about{
	border-bottom: var(--border);
}

/* .about-display-title{
    text-align: left;
	font-size: 2rem;
	font-weight: 500;
	font-family: var(--serifs);
    color: var(--text-color);
}
.about-display-subtitle{
	text-align: left;
	font-size: 1rem;
	font-weight: 400;
	font-family: var(--sans);
	padding-bottom: 0.3rem;
	max-width: 45em;
	line-height: 1.5em;
	color: var(--light-text-color);
} */


.about-img{
	max-width: 100%;
	/* display: block; */
	padding-left: 5vw;
    padding-top: 25%;
	padding-right: 1rem;
	opacity: 0.7;
}

.about-main-intro {
	font-size: 2.0rem;
	color: var(--background-color);
	font-weight: 600;
	max-width: 60rem;
}

.about-intro {
	font-weight: 500;
	/* font-size: 2rem; */
	font-size: 1.2rem;
	color: var(--dark-text);
	max-width: 45rem;
	/* padding-bottom: 2rem; */
}

.about-gap{
	padding-top: 0;
}

.about-link{
	color: var(--main-text-color);
	text-decoration: underline;
	text-decoration-color: var(--main-color);
	text-decoration-thickness: from-font;
}
#art-insta{
	text-decoration-thickness: 0.15rem;
}
/* _______________________________________________________________________ */
/*********** MEDIA QUERIES ***********/

/* @media screen and (max-width: 900px) {
	.about-title{
		font-size: 2rem;
	}
	.about-subtitle{
		font-size: 2rem;
	}
} */

@media screen and (max-width: 750px) {
	div.about-container{
		display: block;
	}
	/* .about-title{
		margin-bottom: 1.5rem;
		margin-left: 10%;
	} */
	.about-img{
		max-width: 100%;
		padding: 0;
		/* margin: 0 5%; */
	}
	.zaac-about-intro{
		font-size: 1.2rem;
		padding: 5% 0;
		margin: 0 5%;
		line-height: 150%;
	}

	.about-subcontainer {
		padding: 0;
		padding-bottom: 1rem;
		margin: 0 5%;
	}
	/* .about-title{
		padding: 0;
		padding-top: 5%;
		margin: 0 5%;
		margin-bottom: 1.5rem;
	} */


}




