
/* HOME FLEXBOX STYLING */
.home-header{
    flex-basis: 36%;
}
.project-showcase{
    flex-basis: 64%;
}

.project-display-list{
    display: flex;
    flex-flow: column wrap;
}

/* PROJECT DISPLAY ORDER */
#labatie {
	order: 3;
}
#summit {
	order: 4;
}
#dossier {
	order: 1;
}
#italist {
	order: 2;
}

/* MAIN SECTIONS ON HOME PAGE */
/* no content in intro so far as nothing to add */
#intro{ 
    border-bottom: var(--border);
    padding: 0;
    padding-top: 4.25rem; 
}

#projects{
    padding-top: 1rem; /*adjustment for when clicking projects from menu */
}

#project-container-home {
    align-items: baseline;
}
/* ****************************************************************** */
/* PROJECT SHOWCASE HEADERS */
h1.home-projects-title{
    font-size: 2rem;
    font-weight: 600;
    padding-left: 5vw;
    font-family: var(--serifs);
    color: var(--text-color);
    font-style: italic;
}

/* INDIVIDUAL PROJECT SHOWCASE */
.project-display-container{
    margin-right: 5vw;
    padding: 1rem 0;
    padding-left: 1rem;
    border-bottom: var(--border);
    /* min-height: 22vh; */
    /* height: 18vh; */
    min-height: 18vh;
}
#project-display-last{
    border-bottom:none;
}
#project-display-container-last{
    border-bottom: none;
}
/* PARENT OF TITLE AND SUBTITLE */
.project-display-link{
    text-decoration: none;
    color: var(--title-color);
}

.project-display-title{
    text-align: left;
	font-size: 2rem;
	font-weight: 600;
	font-family: var(--serifs);
    color: var(--text-color);
}
/* .project-display-subtitle{
	text-align: left;
	font-size: 1.4rem;
	font-weight: 400;
	font-family: var(--serifs);
	padding-bottom: 0.3rem;
} */
.project-display-subtitle{
	text-align: left;
	font-size: 1rem;
	font-weight: 400;
    font-family: var(--sans);
	padding-bottom: 0.3rem;
    max-width: 42em;
}

.topic-container{
    display: flex;
    flex-flow: row wrap;
    /* padding-top: 0.7rem; */
    padding-bottom: 1rem;
}

.topic-card{
    padding: 0.2rem 0.5rem;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    border-radius: 0.3rem;
    border: var(--border);
    font-family: var(--sans);
    font-size: 0.9rem;
    font-weight: 400;
}


.project-display-img{
	position: fixed;
	z-index: -10;
	opacity: 0.3;
}


.display-img-adjust-1{
    transform: translate(-70%, -70%);
}
.display-img-adjust-2{
    transform: translate(-20%, -80%);
}
.display-img-adjust-3{
    transform: translate(-65%, -65%);
}
.display-img-adjust-4{
    transform: translate(-40%, -80%);
}