/* VARIABLES */
:root{
	/* COLORS */
	--title-color: rgb(70,70,70);
	--text-color: rgb(90,90,90);
	--light-text-color: rgb(120,120,120);
	--background-color: rgb(245,245,245);
	/* --background-color: rgb(240,240,240); */
	--main-color: #F8A70A;
	--highlight-color: #16E6F7;

	/* TYPEFACES */
	--my-serifs: 'Cormorant Garamond', 'Cormorant', serif;
	--my-sans: 'proxima-nova', 'Open Sans', 'Geneva', sans-serif;
}

/* ALTERNATE "A" FOR PROXIMA-NOVA TYPEFACE */
@font-feature-values "proxima-nova"{
	@styleset {alt-a: 1}
	@stylistic {alternates: 1}
}

*{
	margin:  0;
	padding:  0;
	box-sizing:  border-box;
	cursor:  none;
	font-family: var(--my-sans);
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
	font-variant-alternates: styleset(alt-a);
}

html {
	/*cursor: none;*/
	width: 100%;
	/* height: 200vh; */
	scroll-behavior: smooth;
}
body {
	background-color: var(--background-color);
}

header {
	width: 100%;
	z-index: 100;
}

/* MAIN NAVIGATION BAR */
ul.navbar {
	display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
    padding: 1% 0;
    border-bottom: 0.3px solid var(--title-color);
    background: var(--main-color);
    position: fixed;
    z-index: 10;
}


/* header li */
.navLink {
	height: 100%;
	text-decoration: none;
	transition: 0.3s ease;
}
#navzaac{
	margin-right: auto;
}
#navabout{
	margin-left: auto;
}
#navwork{
	margin-left: auto;
}

header a {
	text-decoration: none;
	color: white;
	padding: 0.7rem 1.5rem;
	font-size: 1.1rem;
    font-weight: 400;
}
.navText{
	margin-left: 3rem;
}
header a:hover{
	font-style: italic;
	color: var(--text-color);
	/* color: var(--main-color); */
}

/*  HOMEPAGE INTRO INFO*/
/* TOP BANNER WITH COLOUR*/
#top-banner{
	background-color: var(--main-color);
	padding: 0;
	padding-top: 10%;
	/* margin-top: 5%; */
}
/* HOMEPAGE TITLE */
.zaac-intro{
	font-size: 2.5rem;
	color:rgb(255, 255, 255);
	/* font-family: 'proxima-nova', 'Open Sans', 'Geneva', sans-serif; */
	font-family: var(--my-sans);
	font-weight: 500;
	/* SWITCHED FROM MARGIN TO PADDING */
	padding: 5% 10% 10% 10%;
	line-height: 125%;
}
/* .intro-emphasis{
	font-family: var(--my-serifs);
	font-style: italic;
} */



/* DIV - PROJECT CONTAINER */
div.project-container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	/* flex-flow: row; */
}

.home-heading{
	flex-basis: 50%;
}
.project-showcase{
	flex-basis: 50%;
}

/* INDIVIDUAL PROJECTS */
div.project-screen{
	/* border-top: .3px solid rgb(70, 70, 70); */
	/* margin-left: 45%; */
    margin-right: 10%;
    margin-top: 4%;
}
/* PROJECT SHOWCASE - HOME */
h1.home-title {
	/* flex-basis: 30%; */
	font-size: 2.5rem;
	font-weight: 600;
	margin-top: 5%;
	margin-left: 20%;
	font-family: 'Garamond', 'Cormorant', serif;
	color: var(--title-color);
}

/* ORDER OF PROJECTS ON HOMEPAGE */
#labatie {
	order: 3;
}
#summit {
	order: 4;
}
#dossier {
	order: 1;
}
#italist {
	order: 2;
}

a.project-link{
	text-decoration: none;
	/* color:var(--title-color); */
	-webkit-filter: sepia(0);
	filter: sepia(0);
	color: var(--title-color);
}
a.project-link:hover{
	font-style: italic;
	color: var(--main-color);
}


p.project-showcase-title{
	text-align: left;
	font-size: 2rem;
	font-weight: 500;
	/* padding-top: 3%; */
	font-family: 'Garamond', 'Cormorant', serif;
	/* color: var(--title-color); */
}
p.project-showcase-subtitle{
	text-align: left;
	font-size: 1.2rem;
	font-weight: 400;
	font-family: 'Garamond', 'Cormorant', serif;
	padding-bottom: 0.3rem;
	/* color: var(--text-color); */
}

img.project-showcase-img{
	max-width: 100%;
	display: block;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	/* transition: all 0.3s ease-in; */
}
/* SHOW COLOR OF PROJECTS ON HOVER */
a.project-link:hover .project-showcase-img, a.project-link:focus .project-showcase-img{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/* STYLING BOTTOM OF HOME PAGE */
footer{
	margin: 3% 0;
    padding-top: 3%;
	border-top: 0.3px solid var(--text-color);
}

.footer-flex{
	flex-basis: 25%;
	padding: 0 1rem;
    /* margin-top: 5%; */
}

.footer-title{
	font-size: 1.2rem;
	color: var(--light-text-color);
	font-weight: 400;
}

p.footer-content{
	/* text-align: left; */
	font-size: 1.2rem;
	font-weight: 300;
	color: var(--text-color);
	/* margin-top: 6%; */
	/* padding-top: 1%; */
	/* padding-bottom: 1%; */
	/* text-transform: uppercase; */
	padding-bottom: 0.3rem;
}

.footer-content a {
	/* font-size: 1rem; */
	/* font-weight: 400; */
	color: var(--text-color);
	text-decoration: none;
}
.footer-content a:hover{
	font-style: italic;
	color: var(--main-color);
}



/* __________________________________________________________________________________________________ */
/* STYLING PROJECT PAGES */
div.project-roles{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	justify-content: center;
	margin-top: 2rem;
}
div.project-roles-content{
	flex-basis: 33%;
	/* border: .3px solid rgb(70, 70, 70); */
}
p.roles-title{
	font-weight: 600;
	color: var(--title-color);
}
p.roles-text{
	/* width: 0;
	overflow: visible; */
	display: block;
	padding-top: 0.2rem;
	font-weight: 300;
	color: var(--text-color);
}
span.it-bold {
	font-style: italic;
	font-weight: 500;
}
.caption{
	font-style: italic;
	font-size: 0.9rem;
	font-weight: 300;
	color: var(--light-text-color);
	padding-top: 0.5rem;
	text-align: center;
}
/* TOP COLOURED BANNER */
/* .color-banner{
	background-color: var(--main-color);
	padding: 0 20%;
	padding-bottom: 5%;
} */

/* LINK TO PROJECT SLIDES */
#slides-link-div{
	margin-top: 2rem;
}
.slides-link{
	color: var(--light-text-color);
	font-size: 1.2rem;
}
.slides-link:hover, .slides-linkk:focus{
	color: var(--main-color);
	font-style: italic;
}
/* ________________________________________________________________________________________ */


div.project-page-container{
	margin: 0 20%;
}

/* ADJUSTMENT FOR HOME PADE TO SPAN ACROSS ENTIRE WIDTH */
#project-container-home{
	margin: 0;
	padding-bottom: 0;
	padding-top: 5%;
}
div.project-content{
	width: 100%;
}


h1.project-title{
	color:var(--title-color);
	padding-top: 20%;
	font-size: 4rem;
	font-weight: 400;
	font-family: 'Garamond', 'Cormorant', serif;
}
h2.project-subtitle{
	color:var(--title-color);
	font-family: 'Garamond', 'Cormorant', serif;
	margin-bottom: 2rem;
}
.project-content h3 {
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 500;
	padding-top: 5rem;
	/* color: var(--title-color); */
	color: var(--main-color)
}
.project-content h4 {
	font-size: 1.8rem;
	font-weight: 400;
	padding-top: 1.5rem;
	color: var(--title-color);
	font-family: 'Garamond', 'Cormorant', serif;
}
.project-content h4.first {
	padding-top: 0.5rem;
}
.project-content .overview{
	font-weight: 500;
}
/* PROJECT PARAGRAPH TEXT */
p.project-text{
	color:var(--text-color);
	font-weight: 300;
	padding-top: 0.5rem;
	/* line-height: 2.2rem; */
	line-height: 190%; 
	font-size: 1.2rem;
}
.bold{
	font-style: normal;
	font-weight: 500;
}

ol{
	padding-left: 2rem;
}
ol li{
	color: var(--text-color);
    font-weight: 300;
    padding-top: 0.5rem;
    line-height: 1.7rem;
}


/* PROJECT IMAGES */
.project-content .project-img {
	max-width: 100%;
	border: 0.3px solid var(--text-color);
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}
.project-content .project-img-adjustment {
	border: none;
}


.project-video {
	padding: 56.25% 0 0 0;
	position: relative;
}

/* style="position:absolute;top:0;left:0;width:100%;height:100%;" */
.project-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* NEXT PROJECT BUTTONS */
.next-project{
	padding: 10% 0;
	margin-top: 5%;
	display: flex;
	border-top: 0.5px solid var(--title-color);
}
.next-project-link{
	text-decoration: none;
	color: var(--title-color);
	display: flex;
	width: 100%;
}
.next-project-link:hover, .next-project-link:focus{
	font-style: italic;
	color: var(--main-color);
}
#next-project-arrow{
	font-size: 3rem
}
.next-project-title{
	font-family: var(--my-serifs);
	font-size: 2rem;
	font-weight: 500;

}
.next-project-subtitle{
	font-family: var(--my-serifs);
	font-size: 1.2rem;
	font-weight: 400;
}
.next-project-img {
	max-width: 80%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	padding-top: .5rem;
}

.col-2{
	flex-basis: 50%;
}
#next-project-text-adjust{
	padding: 0 1rem;
}

/* CURSOR */
.pointer{
  position: fixed;
  width: 16px;
  height: 16px;
  /* background-color: white; */
  background-color: red;
  border-radius: 50%;
  z-index: 10000;
  mix-blend-mode: difference;
  transition: transform .2s ease-in-out;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: none;
  cursor: none;
}

.scale-pointer{
	transition: transform .15s ease-in-out;
	transform: translate(-50%, -50%) scale(2);
} 

/* CURSOR TRAIL */
div.cursors div {
	position:  absolute;
	width: 32px;
	height: 32px;
	opacity: 50%;
	border-radius: 50%;
	/* border: .5px solid rgb(255, 255, 255); */
	border: .5px solid red;
	z-index: 1000;
	pointer-events: none;
	transform: translate(-50%, -50%);
	mix-blend-mode: difference;
}

p.photo-caption{
	color:#555;
	font-size: 0.8rem;
	font-weight: 300;
}

/* COLOR FOR SELECTING TEXT/ELEMENTS */
::selection {
	background: var(--highlight-color);
  }


/* _______________________________________________________________________ */
/*********** MEDIA QUERIES ***********/
/* @media screen and (max-width: 1200px) {

} */

@media screen and (max-width: 1000px) {
	.zaac-intro{
		font-size: 2rem;
	}
	.footer-flex{
		flex-basis: 50%;
		/* padding-bottom: 1rem; */
		padding: 0.5rem 10%;
	}
	#footer-empty {
		order: 4;
	}
	#footer-connect {
		order: 1;
	}
	#footer-location {
		order: 3;
	}
	#footer-copyright {
		order: 2;
	}
	.right-align{
		text-align: right;
	}

	h1.home-title{
		font-size: 2rem;
	}
}

@media screen and (max-width: 750px) {
	div.project-showcase {
		margin-left: 10%;
	}
	footer{
		margin: 0 10%;
		margin-top: 5%;
	}
	.footer-flex{
		padding: 0.5rem 0;
	}

	/* PROJECT SHOWCASE */
	.home-heading {
		flex-basis: 100%;
		/* margin-left: 10%; */
	}
	h1.home-title{
		margin-bottom: 2%;
		margin-left: 10%;
		
	}

	.project-showcase {
		flex-basis: 100%;
	}

	.zaac-intro{
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 600px) {
	div.project-showcase{
		flex-basis: 100%;
		margin-bottom: 10%;
	}
	a.project-link .project-showcase-img{
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
	}

	.footer-flex{
		flex-basis: 100%;
		padding: 0;
		padding-bottom: 1rem;
	}
	.right-align{
		text-align: left;
	}
	#footer-empty {
		order: 4;
	}
	#footer-connect {
		order: 1;
	}
	#footer-location {
		order: 2;
	}
	#footer-copyright {
		order: 3;
	}

	/* CURSOR */
.pointer{
	width: 0;
	height: 0;
  }
  
  
  /* CURSOR TRAIL */
  div.cursors div {
	width: 0;
	height: 0;
  }
  .navText{
	margin-left: 0;
	}
  }

