
@media screen and (max-width: 999px){
    /* HOME PAGE CONTENT */
    .home-header{
        flex-basis: 100%;
    }
    .project-showcase{
        flex-basis: 100%;
    }
    .flex-container{
        flex-flow: row wrap;
    }
    .project-display-container{
        padding: 1rem 0;
        margin: 0;
        padding-left: 5vw;
        padding-right: 5vw;
        min-height: 18vh;
    }
    .project-subtitle{
        font-size: 2.4rem;
    }
    .banner-intro{
        font-size: 2rem;
    }
    .page-title{
        left: 48vw;
    }

    .home-about{
        flex-flow: column nowrap;
        gap:0;
    }
    .home-subheading{
        padding-top:5rem;
    }

    .home-content{
        padding-left: 0;
    }

    .footer-container{
        padding: 0 5vw;
    }
    /* ABOUT PAGE CONTENT */

    .about-header{
        /* flex-basis: 50%; */
        flex-basis: 100%;
        padding-left: 0vw;
        padding-right: 5vw;
        padding-top: 5vw;
    }
    .about-content{
        flex-basis: 100%;
        padding-left: 0vw;
        padding-bottom: 5vw;
        /* padding-right: 25vw; */
    }
    .about-img{
        /* padding: 0; */
        padding: 0 25vw;
    }
    .about-intro{
        padding-top: 2vw;
        padding-bottom: 0;
    }
    .about-display-container {
        padding-left: 0;
    }
    .about-title {
        padding-left: 5%;;
        margin-left: 0;
        /* border-bottom: var(--border); */
    }
    #about-banner-content {
        /* padding-left: 5vw;
        padding-right: 5vw; */
        padding: 0 5vw;
        padding-bottom: 5vw;
        /* padding-left: 25vw; */
    }
    .about-main-intro{
        padding-top: 1rem;
    }
    .about-content-text{
        padding-left: 0;
    }
    #about-container-adjust{
        padding-left: 25vw;
    }


    /* PROJECT PAGE CONTENT */
    
    h1.project-main-title {
        padding-bottom: 1rem;
        font-size: 15vw;
    }
    div.col-3-of-5-adjust{
        flex-basis: 75%;
    }
    .flex-container-project{
        flex-flow: column nowrap;
    }
    .my-roles  {
        padding-right: 50%;
    }
    #project-banner{
        margin-bottom: 15vh;
    }
    .secondary-text, .primary-text{
        margin-right: 25%;
    }
    #problem-statement {
        text-align: left;
        margin: 0 5vw;
    }
}

@media screen and (max-width: 699px){
    .intro-sub-main{
        font-size: 1.5rem;
    }
    .secondary-text{
        margin-right: 10%;
        /* padding-top: 0.5rem; */
    }
    .primary-text{
        margin-right: 10%;
        font-size: 1.5rem;
    }
    .banner-intro{
        font-size: 1.7rem;
    }

    .my-roles{
        padding-right: 0;
    }
    .project-subtitle{
        font-size: 1.8rem;
    }
    #problem-statement {
        margin: 0;
        font-size: 1.7rem;
    }
    .about-intro{
        font-size: 1.4rem;
    }
    #about-container-adjust {
        padding-left: 5vw;
    }
    #about-banner-content{
        padding-left: 5vw;
    }
    .home-subheading{
        padding-top: 3rem;
    }
    #project-banner{
        margin-bottom: 10vh;
    }
}


@media screen and (max-width: 499px){
    /* Remove pointer class on mobile as not necessary */
    .pointer{
        display: none;
    }

    .secondary-text{
        margin-right: 0;
        padding-top: 0.5rem;
    }
    .primary-text{
        margin-right: 0;
        font-size: 1.4rem;
    }

    #problem-statement {
        font-size: 1.4rem;
    }

    figcaption{
        text-align: left;
    }

    .banner-intro{
        font-size: 1.5rem;
    }

    .content-gap-small{
        padding-top: 2%;
    }
    .content-gap-medium{
        padding-top: 10%;
    }

    .project-display-img{
        display: none;
    }
    .footer-container{
        flex-flow: column nowrap;
        justify-content: space-between;
        gap: 1rem;
    }
    .footer-width{
        width: 100%;
    }
    .footer-content{
        padding-bottom: 1rem;
    }
    .img-hover{
        display:none;
    }
    #rain-text{
        display: none;
    }
}

@media (pointer:coarse){
    .pointer{
        display: none;
    }
}
