
@media screen and (max-width: 999px){
    /* HOME PAGE CONTENT */
    .home-header{
        flex-basis: 100%;
    }
    .project-showcase{
        flex-basis: 100%;
    }
    .flex-container{
        flex-flow: row wrap;
        /* justify-content: space-between;
        align-items: stretch;
        gap: 1rem; */
    }
    .project-display-container{
        padding: 1rem 0;
        margin-left: 5vw;
        min-height: 18vh;
    }
    .banner-intro{
        font-size: 2rem;
    }

    /* ABOUT PAGE CONTENT */
    .about-header{
        flex-basis: 50%;
        padding-left: 5vw;
        padding-top: 5vw;
    }
    .about-content{
        flex-basis: 100%;
        padding-left: 5vw;
        padding-bottom: 5vw;
    }
    .about-img{
        padding: 0;
    }
    .about-intro{
        padding-top: 2vw;
        padding-bottom: 0;
    }
    .about-display-container {
        padding-left: 0;
    }
    .about-title {
        padding-left: 0;
    }


    /* PROJECT PAGE CONTENT */
    div.col-3-of-5-adjust{
        flex-basis: 75%;
    }
    .flex-container-project{
        flex-flow: column nowrap;
    }
    .my-roles  {
        padding-right: 50%;
    }
    #project-banner{
        margin-bottom: 20vh;
    }
    .secondary-text, .primary-text{
        margin-right: 25%;
    }
    #problem-statement {
        text-align: left;
        padding: 0 5vw;
    }
}


@media screen and (max-width: 499px){
    /* Remove pointer class on mobile as not necessary */
    .pointer{
        display: none;
    }
    .my-roles{
        padding-right: 0;
    }
    h1.project-main-title {
        font-size: 5em;
    }
    .secondary-text{
        margin-right: 0;
        padding-top: 0.5rem;
    }
    .primary-text{
        margin-right: 0;
        font-size: 1.4rem;
    }

    .content-gap-small{
        padding-top: 2%;
    }
    .content-gap-medium{
        padding-top: 10%;
    }

    .project-display-img{
        display: none;
    }
}



/* @media print {
    html{
        display: none;
    }
} */