
/* START OF USEFUL CODE */
header {
    /* position: absolute; */
    position: fixed;
    overflow: visible;
    z-index: 100;
    background-color: var(--background-color);
    width: 100%;
    color: var(--text-color);
    padding: 1.5rem 0rem 1.5rem 0rem;
    border-bottom: var(--border);
}

header h1 {
    font-size: 2.2rem;
    float: left;
    margin-top: 5px;
}
header a {
    text-decoration: none;
    padding: 1.5rem 2rem 1.5rem 2rem;
}
header a:hover{
    color: var(--text-color);
}

#nav-name{
    /* padding-left: 0; */
    text-decoration-color: var(--light-text-color);
}
#nav-name:hover{
    color: var(--light-text-color);
}

header .menu-control-open, header .menu-control-close, header nav, header a {
    font-weight: 500;
    text-decoration: underline;
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 1rem;
    transform: none;
}
header .menu-control-open, header .menu-control-close, header nav a {
    /* font-size: 2.2rem; */
    /* margin-bottom: 1.5rem; */
    color: var(--text-color);
}
.menu-control-close:hover, header nav a:hover {
    /* color: var(--text-color); */
    color: var(--light-text-color);
    /* color: var(--highlight-color); */
}

header .menu-control-open, header .menu-control-close {
    display: block;
    /* cursor: pointer; */
}
header .menu-control-open {
    position: relative;
    /* font-size: 1.2rem; */
    float: right;
}
.menu-control-open:hover{
    /* color:var(--text-color); */
    color: var(--light-text-color);
    color:red;
}

#menuControlOpen{
    color: var(--text-color);
    transform: none;
}
#menuControlOpen:hover, #menuControlOpen:focus {
    /* color: var(--text-color); */
    color: var(--light-text-color);
}

#menuControlClose{
    color: var(--background-color);
    transform: none;
    margin: 1.5rem;
}
#menuControlClose:hover, #menuControlClose:focus{
    /* color: var(--text-color); */
    color: var(--light-text-color);
    color: var(--highlight-color);
    /* color:red */
}

/* header .menu-control-open svg {
    position: absolute;
    top: -12px;
    left: 12px;
} */
/* header .menu-control-open svg line, header .menu-control-open svg circle {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3;
} */
header .menu-control-open:before {
    padding-top: 1px;
}
header .menu-control-open:before, header .menu-control-open:after {
    content: '';
    display: block;
    width: 100%;
}
header .menu-control-close {
    /* font-size: 1.2rem; */
    text-align: right;
}
header nav {
    display: flex;
    flex-direction: column;
}
.menu {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--text-color);
    color: var(--main-color);
    height: 100vh;
    width: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.menu a {
transform: translate3d(-150px, 0, 0);
transition: transform 0.15s ease-in;
}
.menu .menu-inner {
    position: relative;
    height: 100%;
    width: 70vw;
    /* padding: 1.5rem; */
    /* Unnecessary styles for the menu footer */
}
.menu .version, .menu .madeIn {
    position: absolute;
    bottom: 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.menu .version {
    right: 1.5rem;
}
.menu--active {
    height: 100vh;
    /* overflow: hidden; */
}
.menu--active header a {
    display: block;
}
.menu--active nav a {
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease-out;
    /* Handles items within the slide-out to give them the delayed slide-in */
    text-decoration-color: var(--light-text-color);
    padding-left: 1rem;
}
.menu--active nav a:first-child {
    transition-delay: 0.2s;
}
.menu--active nav a:nth-child(2) {
    transition-delay: 0.3s;
}
.menu--active nav a:last-child {
    transition-delay: 0.4s;
}

@media screen and (max-width: 767px) {
    .menu--active .menu {
        width: 70%;
    }
    .navButton{
        padding: 1.5rem 0 1.5rem 0;
        font-size: 2.2rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
    .menu--active .menu {
        width: 40%;
    }
    .menu--active .menu .menu-inner {
        width: 40vw;
    }
    .menu--active, .navButton{
        /* padding: 1.5rem 0 1.5rem 0; */
        padding:1.5rem;
        font-size: 2.2rem;
    }
}

/* WHEN SCREEN SIZE IS 1000 PIXELS OR ABOVE */
@media screen and (min-width: 1000px) {
    /* header {
        height: 7rem;
        padding: 2.5rem;
    } */
    header .menu-control-open, header .menu-control-close {
        display: none;
    }
    header .menu {
        /* position: static; */
        overflow: visible;
        background-color: transparent;
        width: auto;
        height: auto;
    }
    header .menu .menu-inner {
        /* padding: 0; */
        width: 100%;
    }
    header .menu a {
        transform: none;
        transition: none;
        text-decoration-color: var(--light-grey);
    }
    header .menu .version, header .menu .madeIn {
        bottom: -90.85vh;
        letter-spacing: 1px;
        font-size: 1.3rem;
    }
    header nav {
        flex-direction: row;
        justify-content: flex-end;
    }

    header a:hover{
        border-left: var(--border);
        border-right: var(--border);
    }
    header a:last-child:hover{
        border-right: none;
    }
}

@media screen and (max-width: 999px){
    /* header{
        padding: 1.5rem 5vw 1.5rem 5vw;
    } */
    header{
        padding: 0;
    }
    #menuControlOpen{
        padding: 1.5rem 5vw;
    }
    #menuControlOpen:hover{
        border-left: var(--border);
    }
    #nav-name{
        position: fixed;
        padding: 1.5rem 5vw;
        /* top: 0; */
    }
    #nav-name:hover{
        border-right: var(--border);
    }


    header nav a {
        color: var(--background-color);
        padding: 1.5rem 5vw;
    }
    header a {
        padding: 0;
    }

    .menu--active, .navButton:hover{
        color: var(--highlight-color);
    }
    
}
