
/* START OF USEFUL CODE */
header {
    /* position: absolute; */
    position: fixed;
    overflow: visible;
    z-index: 100;
    /* background-color: var(--background-color); */
    background-color: var(--background-light);
    width: 100%;
    /* color: var(--text-color); */
    color: var(--background-color);
    padding: 1.5rem 0rem 1.5rem 0rem;
    border-bottom: var(--border-dark);
    border-top: var(--border-dark);
}

header h1 {
    font-size: 2.2rem;
    float: left;
    margin-top: 5px;
}
header a {
    text-decoration: none;
    padding: 1.5rem 2rem 1.5rem 2rem;
    text-align: center;
    /* min-width: 8rem; */
}
header a:hover{
    background-color: var(--main-color);
    color: var(--background-color);
}

#nav-name{
    /* text-decoration-color: var(--light-text-color); */
    border-right: var(--border-dark);
    padding-right: 2.5rem;
}
/* #nav-name:hover{
    letter-spacing: 0.01em;
    border-left: none;
    background-color: var(--main-color);
    color: var(--background-color);
} */

#nav-name:hover .nav-logo{
        /* filter: invert(100%); */
        /* filter: hue-rotate(270deg); */
        filter: grayscale(100%) contrast(300%);
        /* filter: contrast(300%); */
        /* background-color: var(--background-color); */
}

.nav-logo{
    width: 50px;
    height: 50px;
    position:fixed;
    top: 10px;
    left: 10px;
}

header .menu-control-open, header .menu-control-close, header nav, header a {
    font-weight: 500;
    /* text-decoration: underline; */
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 1rem;
    transform: none;
}
header .menu-control-open, header .menu-control-close, header nav a {
    /* color: var(--text-color); */
    color: var(--background-color);
}
/* .menu-control-close:hover, header nav a:hover {
    color: var(--light-text-color);
} */
.menu-control-close:hover{
    color: var(--light-text-color);
}

header .menu-control-open, header .menu-control-close {
    display: block;
}
header .menu-control-open {
    position: relative;
    /* font-size: 1.2rem; */
    float: right;
}
.menu-control-open:hover{
    color: var(--light-text-color);
}

#menuControlOpen{
    /* color: var(--text-color); */
    color: var(--background-color);
    transform: none;
    border-left: var(--border-dark);
}
#menuControlOpen:hover, #menuControlOpen:focus {
    /* color: var(--light-text-color); */
    color:var(--background-color);
}

#menuControlClose{
    color: var(--background-color);
    transform: none;
    /* margin-bottom: 1.5rem; */
    /* padding: 1.5rem 1.5rem 0 1.5rem; */
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
#menuControlClose:hover, #menuControlClose:focus{
    /* color: var(--highlight-color); */
    color: var(--very-light-grey);
    cursor: 
    url("../img/cursors/close2.svg") 9 9,
    pointer;
}

header .menu-control-open:before {
    padding-top: 1px;
}
header .menu-control-open:before, header .menu-control-open:after {
    content: '';
    display: block;
    width: 100%;
}
header .menu-control-close {
    text-align: right;
}
header nav {
    display: flex;
    flex-direction: column;
}
.menu {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--text-color);
    color: var(--main-color);
    height: 100vh;
    width: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.menu a {
    transform: translate3d(-150px, 0, 0);
    transition: transform 0.15s ease-in;
}
.menu .menu-inner {
    position: relative;
    height: 100%;
    width: 70vw;
    width:100vw;
    /* Unnecessary styles for the menu footer */
}
.menu .version, .menu .madeIn {
    position: absolute;
    bottom: 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.menu .version {
    right: 1.5rem;
}
.menu--active {
    height: 100vh;
    /* overflow: hidden; */
}
.menu--active header a {
    display: block;
}
.menu--active nav a {
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease-out;
    /* Handles items within the slide-out to give them the delayed slide-in */
    text-decoration-color: var(--light-text-color);
    padding-left: 1rem;
    text-align: left;
}
.menu--active nav a:first-child {
    transition-delay: 0.2s;
}
.menu--active nav a:nth-child(2) {
    transition-delay: 0.3s;
}
.menu--active nav a:last-child {
    transition-delay: 0.4s;
}


@media screen and (max-width: 767px) {
    .menu--active .menu {
        width: 70%;
    }
    .menu--active .menu .menu-inner {
        width: 70vw;
    }
    .menu--active, .navButton{
        padding: 1.5rem;
        font-size: 1.6rem;
    }
    .navButton{
        padding: 1.5rem 0 1.5rem 0;
        font-size: 2.2rem;
    }
}

/* WHEN SCREEN SIZE IS 1000 PIXELS OR ABOVE */
@media screen and (min-width: 1000px) {
    header .menu-control-open, header .menu-control-close {
        display: none;
    }
    header .menu {
        overflow: visible;
        background-color: transparent;
        width: auto;
        height: auto;
    }
    header .menu .menu-inner {
        /* padding: 0; */
        width: 100%;
    }
    header .menu a {
        transform: none;
        transition: none;
        /* text-decoration-color: var(--light-grey); */
        border-left: var(--border-dark);
        min-width: 9rem;
    }
    header .menu .version, header .menu .madeIn {
        bottom: -90.85vh;
        letter-spacing: 1px;
        font-size: 1.3rem;
    }
    header nav {
        flex-direction: row;
        justify-content: flex-end;
    }

    /* header a:hover{
        border-left: var(--border-dark);
        border-right: var(--border-dark);
    } */
    header a:last-child:hover{
        border-right: none;
    }
}

@media screen and (max-width: 999px) {
    .menu--active .menu {
        width: 40%;
    }
    .menu--active .menu .menu-inner {
        width: 40vw;
        border-left: 0.5px solid var(--background-color);
        background-color: var(--main-color);
        
    }
    .menu--active, .navButton{
        padding:1.5rem;
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 999px){
    header{
        padding-bottom: 5.5%;
    }
    #menuControlOpen{
        padding: 1.5rem 5vw;
        position: absolute;
        top:0;
        right:0;
    }
    #menuControlOpen:hover{
        border-left: var(--border-dark);
    }
    #nav-name{
        position: fixed;
        /* padding: 1.55rem 5vw; */
        border:none;
    }
    #nav-name:hover{
        background-color: var(--main-color);
        background-color: var(--background-color);
        /* color: var(--background-color); */
    } 
    
    header nav a {
        color: var(--background-color);
        padding: 1.5rem 5vw;
    }
    header a {
        padding: 0;
    }

    /* .menu--active, .navButton:hover{
        color: var(--highlight-color);
    } */
    .navButton:hover{
        /* color: var(--light-grey); */
        color: var(--very-light-grey);
        border-top: 0.5px solid var(--background-color);
        border-bottom: 0.5px solid var(--background-color);
    }
    
    .menu--active{
        padding:0;
    }
}
