

* {
    box-sizing: border-box
}

.mySlides1, .mySlides2, .mySlides3 {
    display: none
}
img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 1rem;
  margin-top: -1.2rem;
  border-radius: 0 .2rem .2rem 0;
  background-color: #f1f1f1;
  opacity: 60%;
  transition: 0.6s ease;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  /* background-color: #f1f1f1; */
  background-color: var(--main-color);
  opacity: 100%;
  color: black;
  cursor: none;
}