
/* VARIABLES */
:root {
    /* COLORS */
    --text-color: rgb(56,56,56);
    --text-color: #543a16;
    --light-text-color: #6c6c6c;
    --light-grey: rgb(150, 150, 150);
    --background-color: #fffcee;
    --highlight-color: #ffffad;

    /* BORDER */
    --border: 0.5px solid var(--text-color);

    /* TYPEFACES */
    --serifs: 'Cormorant Garamond', serif;
    --sans: 'Lato', sans-serif;
}

::selection{
    background-color: var(--text-color);
    color: var(--background-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor:
        url("../img/cursor.svg") 12 12,
        cell; */
}
html{
    width: 100%;
    scroll-behavior: smooth;
    cursor:
    url("../img/cursor.svg") 13 13,
    cell;
}
body{
    background-color: var(--background-color);
    font-family: var(--sans);
    text-decoration-thickness: from-font;
    color: var(--text-color);
    overflow-x: hidden;
}

a{
    text-decoration-thickness: from-font;
}

.text-em{
    /* background-color: var(--highlight-color); */
    font-style: italic;
}

/* .text-highlight{
    background-image: linear-gradient(0deg, var(--highlight-color) 40%, transparent 0%);
} */

.hide-show{
    display: none;
}

a:hover{
	font-style:italic;
    letter-spacing: .06em;
    cursor: 
        url("../img/arrow.svg") 12 6,
        pointer;

}
.text-hover{
    font-style: italic;
}



/* CUSTOM POINTER */
.pointer{
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    mix-blend-mode: difference;
    transition: transform 0.2s ease-in-out;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: none;
    z-index: 1000;
}

.scale-pointer{
    transition: transform 0.15s ease-in-out;
    transform: translate(-50%, -50%) scale(2);
}

/* TEXT STYLE & EFFECT */
.serifs{
    font-family: var(--serifs);
    font-weight: 400;
}
/* CLASS TO ADD WHEN HOVER OVER ELEMENTS */

/* BASE PAGE STYLING */
.flex-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
}

.content-container{
    padding-top: 5%;;
}

.banner-intro{
    font-size: 2.5rem;
    color: var(--text-color);
    font-family: var(--serifs);
    font-weight: 500;
    /* padding: 5% 8% 5% 8%; */
    padding: 8vw 5vw; /* get used to using vw instead of % with flexbox*/
}



/* FOOTER STYLING */
footer{
	/* margin: 3% 0; */
    margin-bottom: 3%;
    padding-top: 3%;
	/* border-top: var(--border); */
    border-top: var(--border);
    color: var(--text-color);
}
.footer-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    padding: 0 2rem; /*line up with hero content (about paragraph) */
}
.footer-width{
    width: 33%;
}
.footer-title{
    font-family: var(--serifs);
    font-size: 1.1rem;
	color: var(--light-text-color);
	font-weight: 400;
    padding-bottom: 0.5rem;
}
.footer-content{
	font-size: 0.9rem;
	font-weight: 400;
	/* color: var(--text-color); */
	padding-bottom: 0.3rem;
}
.footer-content a {
	/* font-size: 1rem; */
	font-weight: 400;
	color: var(--text-color);
	text-decoration: underline;
    text-decoration-thickness: from-font;
}
.footer-content{
    padding-bottom: .7rem;
}
#footer-adjust{
    padding-bottom: 0.3rem;
}

/* .footer-content a:hover{
	color: var(--text-color);
} */

.img-hover{
    position: fixed;
    z-index: -10;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

[id *="hover-content-"]{
	display: none;

}
.italist-main:hover #hover-content-italist{
	display: block;
}
.dossier-main:hover #hover-content-dossier{
	display: block;
}
.labatie-main:hover #hover-content-labatie{
	display: block;
}
.summit-main:hover #hover-content-summit{
	display: block;
}

.rain-main:hover #hover-content-rain{
	display: block;
}

#rain-text{
    /* display:none; */
    /* color: var(--light-text-color); */
    color: var(--background-color);
    display: block;
}
.rain-main:hover #rain-text{
    /* display: block; */
    color: var(--light-text-color);
}
.display-img-adjust-rain{
    transform: translate(-40%, -80%);
}


