
/* VARIABLES */
:root {
    /* COLORS */
    --light-grey: #727272;
    --very-light-grey: #c9c9c9;
    --background-light: #eaeaea;
    --highlight-color: #ffffad;
    --dark-text: #1b1b1b;
    --medium-text: #3b3b3b;

    /* --main-color: #fc9a11; */
    --main-color: #fd8b0d;
    --background-light: #f0f0f0;
    --text-color: #f4f4f4;
    --background-color: #19313c;
    --light-text-color: #d7d7d7;


    /* BORDER */
    --border: 0.5px solid var(--very-light-grey);
    --border-dark: 0.5px solid var(--background-color);

    /* TYPEFACES */
    --sans: 'Satoshi-Variable', 'Open Sans', sans-serif;
    --sans-italic: 'Satoshi-VariableItalic', 'Open Sans', sans-serif;
}

::selection{
    background-color: var(--main-color);
    color: var(--background-color);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    scroll-behavior: smooth;
    cursor:
        url("../img/cursors/cursor2.svg") 13 13,
        cell;
}
body{
    /* background-color: var(--background-color); */
    font-family: var(--sans);
    text-decoration-thickness: from-font;
    color: var(--text-color);
    overflow-x: hidden;
}

/* 5-COLUMN LAYOUTS */
div.col-5-of-5{
    flex-basis: 100%;
}
div.col-4-of-5{
    flex-basis: 80%;
}
div.col-3-of-5{
    flex-basis: 60%;
}
div.col-2-of-5{
    flex-basis: 40%;
}
div.col-1-of-5{
    flex-basis: 20%;
}

.col-image-text-adjust {
    flex-basis: 17%;
}

/* 3-COLUMN LAYOUTS */
div.col-1-of-3{
    flex-basis: 33.33%;
    padding-right:1rem;
}
div.col-1-of-3:last-child{
    padding-right: 0;
}

/* 4-COLUMN-OUTFIT */
div.col-1-of-4{
    flex-basis: 25%;
    padding-right:1rem;
}
div.col-1-of-4:last-child{
    padding-right: 0;
}

div.col-1-of-2{
    flex-basis: 50%;
    gap: 3rem;
}

a{
    text-decoration-thickness: from-font;
}

.text-em{
    /* background-color: var(--highlight-color); */
    /* font-family: var(--sans-italic); */
    font-style: italic;
}
.text-color{
    color: var(--main-color);
}
.text-highlight{
    background-color: var(--main-color);
    color: var(--background-color);
}
.text-light{
    font-weight:400;
    /* font-style: italic; */
}
.text-bold{
    font-weight: 800;
}

.hide-show{
    display: none;
}

a:hover{
	font-style:italic;
    /* letter-spacing: 0.03em; */
    letter-spacing: 0.01em;
    cursor: 
        url("../img/cursors/arrow-right2.svg") 12 5,
        pointer;
}
#nav-name:hover{
    cursor: 
        url("../img/cursors/home.svg") 12 15,
        pointer;
}

.text-hover{
    font-style: italic;
}

.background-dark{
    background-color: var(--background-color);
}
.background-light{
    background-color: var(--background-light);
}

.text-light{
    color: var(--text-color);
}
.text-dark{
    color: var(--dark-text);
}


/* CUSTOM POINTER */
.pointer{
    position: fixed;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    /* SET BACKGROUND COLOR TO WHITE WITH OPACITY: */
    background-color: rgba(255, 255, 255, 0.8);

    /* SETS BG COLOR TO YELLOW, WHEN DIFFERENCE BLEND MODE IS APPLIED */
    /* background-color: #F4D528; */
    mix-blend-mode: difference;
    transition: transform 0.2s ease-in-out;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: none;
    z-index: 100000;
}

.scale-pointer{
    transition: transform 0.15s ease-in-out;
    transform: translate(-50%, -50%) scale(2);
    /* background-color: rgba(0, 0, 0, 0.8);  */
}

/* TEXT STYLE & EFFECT */
.serifs{
    font-family: var(--sans);
    font-weight: 400;
}
/* CLASS TO ADD WHEN HOVER OVER ELEMENTS */

/* BASE PAGE STYLING */
.page-title{
    position: fixed;
    top: 1.5rem;
    left: 40vw;
    font-family: var(--sans);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-color);
}

.flex-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    /* gap: 1rem; */
}

.content-container{
    padding-top: 5%;;
}

h3.subheading{
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 1.5rem;
}
.intro-experience-containter{
    padding-top: 5vw;
}
.intro-experience{
    font-size: 1.3rem;
}

.intro-link{
    color: var(--main-text-color);
	text-decoration: underline;
	text-decoration-color: var(--light-grey);
	text-decoration-thickness: from-font;
}




/* FOOTER STYLING */
footer{
    margin-bottom: 3%;
    padding-top: 3%;
    border-top: var(--border);
    color: var(--dark-text);
}


.footer-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    padding: 0 2rem; /*line up with hero content (about paragraph) */
}
.footer-width{
    width: 33%;
}
.footer-title{
    font-family: var(--sans);
    font-size: 1.1rem;
	/* color: var(--light-text-color); */
    color: var(--main-color);
	font-weight: 600;
    padding-bottom: 0.5rem;
}
.footer-content{
	font-size: 0.9rem;
	font-weight: 400;
	/* color: var(--text-color); */
	padding-bottom: 0.3rem;
}
.footer-content a {
	/* font-size: 1rem; */
	font-weight: 400;
	/* color: var(--text-color); */
    color: var(--dark-text);
	text-decoration: underline;
    text-decoration-thickness: from-font;
}
.footer-content{
    padding-bottom: .7rem;
}
#footer-adjust{
    padding-bottom: 0.3rem;
}


.img-hover{
    position: fixed;
    z-index: -10;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

[id *="hover-content-"]{
	display: none;

}
.italist-main:hover #hover-content-italist{
	display: block;
}
.dossier-main:hover #hover-content-dossier{
	display: block;
}
.momentus-main:hover #hover-content-momentus{
	display: block;
}
.labatie-main:hover #hover-content-labatie{
	display: block;
}
.summit-main:hover #hover-content-summit{
	display: block;
}

.rain-main:hover #hover-content-rain{
	display: block;
}

#rain-text{
    color: var(--background-color);
    display:none;
}
.rain-main:hover #rain-text{
    color: var(--light-text-color);
    display:block;
}

.display-img-adjust-rain{
    transform: translate(-40%, -80%);
}

/* CONTENT GAPS TO BE USED THROUGHOUT */
.content-gap-large{
    padding-top: 12%;
}

.content-gap-med-large{
    padding-top: 8%;
}

.content-gap-medium{
    padding-top: 5%;
}
.content-gap-small{
    padding-top: 3%;
}
.content-gap-tiny{
    padding-top: 1%;
}


@view-transition {
  navigation: auto;
}

/* Create a custom animation */
@keyframes move-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

/* Apply the custom animation to the old and new page states */
::view-transition-old(root) {
  animation: 0.6s ease-in both move-out;
}

::view-transition-new(root) {
  animation: 0.6s ease-in both move-in;
}

/* .transition__div{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 10;
    transition: 1s;
    will-change: transform;
}

.transition__div.animate__in{
    transform: translateX(100%);
}

.transition__div.animate__out{
    transform: translateX(200%);
} */
